@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.dashboard{
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    transition: all 3s ease;
}
.menu{
    width: 7%;
    height: 155vh;
    background-color: white;
    border-right: 1px solid black;
    transition: all .2s ease-in-out;
}
.menu-sub{
    width: 20%;
    transition: all .2s ease;
}
.menu-top{
    height: 12vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    transition: all .2s ease;
}
.logo{
    height: 70px;
}
.arrow{
    display: none;
    height: 20px;
    cursor: pointer;
}
.arrow-sub{
    display: block;
}
.dash-clock{
    display: flex;
    flex-direction: row;
    background-color: #5852FE;
    min-height: 12vh;
    padding: 0 2rem;
    transition: all .2s ease ;
}
.dash-clock-sub{
    padding: 0 1rem;
}
.tooltip{
    position: relative;
    display: inline-block !important;
}
.tooltip .tooltip-text{
    position: absolute;
    color: white;
    background-color: black;
    padding: 5px 12px;
    border-radius: 5px;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
    visibility: hidden;
}
.tooltip .tooltip-text::after{
    content: "";
    position: absolute;
    right: 100%;
    bottom: 30%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltip-text{
    visibility: visible;
    opacity: 1;
}

.show{
    cursor: pointer;
    height: 24px !important;
}
.changer-menu{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 86vh;
    justify-content: center;
    padding: 0 2rem;
    transition: all .2s ease ;
}
.changer-sub{
    padding: 0 1rem;
}
[class*="line"] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
[class*="tag"]{
    display: none;
    text-decoration: none;
    color: black;
    font-family: 'poppins', sans-serif;
    transition: all 1s ease;
    opacity: 0;
}
[class*="tag"]:hover{
    color: blue;
}
.overall-sub{
    display: block;
    opacity: 1;
}
.icon-img{
    height: 21px;
}
.icon-set{
    height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    width: 100%;
    list-style: none;
    padding: 0 1px;
}
.icon-set img{
    height: 18px;
    padding: 0 1rem;
}
.icon-set li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.icon-text{
    display: block;
}
.icon-text a{
    text-decoration: none;
    color: black;
}
.icon-text a:hover .icon-set li{
    background-color: #5852FE !important;
}
.footer{
    min-height: 45vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
    gap: 30px;
    background-color: #5852FE;
    transition: all .2s ease ;
}
.footer-sub{
    padding: 0 1rem;
}
[class*="base"]{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
[class*="liners"]{
    color: white;
}
[class*="liners"]:hover{
    color: white;
}
.fot-text{
    display: none;
    flex-direction: column;
    gap: 20px;
}
.fot-text-sub{
    display: flex;
}
.fot-text a{
    color: white;
    text-decoration: none;
}
.mobile-footer{
    display: none;
}
.mobile-container{
    display: none;
}
main{
    width: 93%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2% 4%;
    transition: all 3s ease;
    font-weight: 600;
}
.big-toggle{
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 10vh;
}
.main-sub{
    width: 80%;
    transition: all 1s ease;
}
.toggle{
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: all .5s ease-in-out;
}
.toggle div{
    background-color: black;
    height: 2px;
    width: 30px;
    transition: all .4s ease-in-out;
}
.firstr{
    transform: rotate(-45deg) translate(1px, 11px);
    width: 33px;
    transition: all .4s ease-in-out;

}
.thirdr{
    transform: rotate(45deg) translate(1px, -11px);
    width: 33px;
    transition: all .4s ease-in-out;
}
.secondr{
    opacity: 0;
}
/* side nav ends */

.top-head{
    text-transform: capitalize;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-head p{
    color: rgb(104, 99, 99);
}
.middle-head{
    text-transform: capitalize;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.middle-head button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;    
}
.container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    text-transform: capitalize;
    gap: 40px;
}
[class*="sat"]{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.zender{
    width: 100%;
    height: 200px;
}
.gevenchy{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}
.gevenchy button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
.container-under{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    text-transform: capitalize;
    gap: 40px;
    margin-top: 50px;
}
.row-cont{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.btn-1{
    padding: 8px 15px !important;
    border: 1px solid #5852FE;
    background-color: transparent;
    color: black;
    border-radius: 10px;
    width: 100%;
}
.btn-2{
    padding: 8px 25px;
    background-color: #5852FE;
    color: white;
    border-radius: 10px;
    border: none;
    width: 100%;

}




@media only screen and (max-width: 1200px){
    .menu{
        display: none;
    }
    main{
        width: 100%;
        padding: 1% 4%;
        gap: 20px;
    }
    .logo{
        height: 80px;
    }
    .big-toggle{
        display: flex;
    }
    .toggle{
        display: flex;
        position: absolute;
        top: 4%;
        right: 5%;
        z-index: 1000;
    }
    .mobile-container{
        background-color: white;
        min-width: 0;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        margin-right: -600px;
        transition: all .9s ease-in-out;
        z-index: 1000;
        box-shadow: 0 7px 29px rgba(0, 0, 0, 0.4);
    }
    .mobile-container-toggler{
        margin-right: 0;
        min-width: 40%;
    }
    .mobile-dash-clock{
        min-height: 8vh;
        width: 100%;
        background-color: #5852FE;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .mobile-dash-clock img{
        height: 17px;
    }
    .mobile-dash-clock a{
        color: white;
        text-decoration: none;
    }
    .mobile-dash-clock li{
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 0 2rem;
        align-items: center;
    }
    .mobile-menu{
        height: 61vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
    }
    .icon-set li{
        padding: 5px 0;
    }
    .icon-text a:hover .icon-set li{
        color: white;
        background-color: #5852FE !important;
    }
    .mobile-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        background-color: #5852FE;
        min-height: 20vh;
        gap: 10px;
        padding: 0rem 2rem;

    }
    .mobile-footer img{
        height: 17px;
    }
    .mobile-footer li{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
    .mobile-footer a{
        text-decoration: none;
        color: white;
    }
    /* responsive side nav ends here */
    .top-head{
        text-align: center;
    }
    .container{
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));

    }
    .container-under{
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));

    }
}